<!--h1>Listado de usuarios</h1>
<table class="table table-hover table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre completo</th>
      <th scope="col">Documento</th>
      <th scope="col">Teléfono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios;let item=index">
      <th scope="row">{{item+1}}</th>
      <td>{{usuario.nombre_completo}}</td>
      <td>{{usuario.documento}}</td>
      <td>{{usuario.telefono}}</td>
    </tr>
  </tbody>
</table!-->

<!--app-usuario></app-usuario-->
<!--app-vehiculo></app-vehiculo-->
<!--app-empresa></app-empresa-->
<app-afiliaciones></app-afiliaciones>

