<nav class="navbar navbar-light bg-primary">
      <div class="container-fluid">
        <h1 style="color: aliceblue;">Afiliaciones DataTools</h1>
        <div class= "d-flex">
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Afiliar</button>  
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Empresa</th>
            <th scope="col">Vehículo</th>
            <th scope="col">Conductor</th>
            <th scope="col">Fecha de afiliación</th>
            <th scope="col">Fecha de desafiliación</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <!--tr>
          <th scope="row">1</th>
          <td>DataTools</td>
          <td>ABC123</td>
          <td>Angie Mora</td>
          <td>2021-11-09</td>
          <td></td>          
          <td-->
            <tr *ngFor= "let row of afiliacionData;let item=index">
              <th scope="row">{{row.id}}</th>
              <td>{{row.empresa}}</td>
              <td>{{row.idvehiculo}}</td>
              <td>{{row.conductor}}</td>
              <td>{{row.fecha_afiliacion}}</td>
              <td>{{row.fecha_desafiliacion}}</td>
              <button class="btn btn-info">Edit</button>
              <button class="btn btn-danger mx-3">Delete</button>
          </td>
        </tr>
      </tbody>
</table>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Formulario de afiliación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue"> 
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Seleccione la empresa</label>
                    <input type="text" formControlName="empresa" class="form-control" id="inputVehiculo">
                    <!--input class="form-control" formControlName="empresa" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                    <datalist id="datalistOptions">
                        <option value="San Francisco">
                        <option value="New York">
                        <option value="Seattle">
                        <option value="Los Angeles">
                        <option value="Chicago">
                    </datalist!-->
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Ingrese la placa del vehículo</label>
                  <input type="text" formControlName="vehiculo" class="form-control" id="inputVehiculo">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Ingrese documento del conductor</label>
                    <input type="text" formControlName="conductor" class="form-control" id="inputConductor">
                  </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" (click)="postAfiliacionDetails()" class="btn btn-primary">Afiliar</button>
        </div>
      </div>
    </div>
  </div>